/* imported fonts */
@font-face {
    font-family: 'Granny';
    src: url('../_fonts/granny_regular.ttf') format('truetype');
}
:root {
    /* smooth animation to anchor links */
    scroll-behavior: smooth;
}

/*******************************  DEFAULTS, RESET ***************************/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

/****************TYPOGRAPHY ******************/
h1,
h2,
h3,
h4 {
    font-family: 'Lora', serif;
    width: 94%;
    margin: 0 auto;
}
h2 {
    font-size: 3rem;
    margin-bottom: 35px;
}
h2.underline {
    padding-bottom: 50px;
    background: url('../_img/line_decor_gray.webp') no-repeat bottom center;
}
h2.underline.light {
    background: url('../_img/line_decor_light.webp') no-repeat bottom center;
}
p {
    font-size: 1.4rem;
    width: 94%;
    margin: 0 auto;
    margin-bottom: 60px;
}
p.small {
    font-size: 1rem;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
}
/*********************** GENERALE **************************/
html {
    background-color: #1e2832;
}
body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.4;
    text-align: center;
    position: relative;
}
section {
    padding: 60px 3%;
    width: 100%;
}
/* prima sectiune face loc la meniu */
section:nth-of-type(1) {
    margin-top: 120px;
    padding: 0;
    padding-top: 15px;
}
/*************** UTILITIES *************/
.light {
    color: #ddd5cc;
}
.yellow {
    color:#f3c24d;
}
.flex {
    display: flex;
    gap: 25px;
    justify-content: space-around;
    align-items: center;
}
.spacing {
    background-color: #E5E0DB;
    height:40px;
    padding-top:80px;
    width:100%;
}
/******* polaroid photos **********/
.polaroid-container {
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scotch {
    position: relative;
    bottom: -15px;
    width: 170px;
}
.polaroid {
    width: 95%;
    padding: 20px 20px 40px 20px;
    background-color: #fff;
    box-shadow: 5px 5px 10px #666;
    margin-bottom: 60px;
}

.cta-button {
    background-color: #f3c24d;
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 1rem 4rem;
    border-radius: 20px;
}

/***************** menu nav ******************/
nav {
    width: 100%;
    text-align: right;
    padding: 20px 5%;
    height: 120px;
    overflow: hidden;
    background-color: #1e2832;
    position: fixed;
    z-index: 5;
    top: 0;
}
nav.open {
    background-color: #ddd5cc;
    height: 100%;
}
nav .icons {
    width: 62%;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
nav a.nav-item {
    display: block;
    text-align: left;
    color: #1e2832;
    padding: 5px 0 5px 35px;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    font-size: 22px;
}
#logo {
    width: 100px;
}
#menu-icon {
    text-align: right;
    width: 50px;
    margin-bottom: 40px;
}
/******************* PAGINA PRINCIPALA *****************/
/*********** banner *************/
.banner {
    position: relative;
    bottom: -7px;
}
.banner img {
    width: 100%;
}
/************** about us *************/
.aboutus {
    background: url('../_img/bg_tile_grey.webp') bottom left repeat-x,
        url('../_img/bg_beige_cloth.webp') repeat;
    padding-bottom: 120px;
}
.aboutus p:nth-of-type(1) {
    background: url('../_img/bg_tomatos.webp') bottom right no-repeat;
    padding-bottom: 80px;
}
.aboutus p:nth-of-type(2) {
    background: url('../_img/line_decor_gray.webp') bottom center no-repeat;
    padding-bottom: 40px;
}
/********* menu links ******/
/* gridul de elemente de meniu */
.menu {
    background: url('../_img/bg_fade.webp') top left repeat-x,
        url('../_img/bg_tile_beige.webp') bottom left repeat-x,
        url('../_img/bg_gray_wood_vertical.webp') repeat;
    position: relative;
    top: -1px;
    padding: 60px 3%;
}
.grid-container {
    display: grid;
    gap: 15px; /* Gap between grid items */
    margin: 5px auto; /* Center horizontally */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

/* hover la elemente */
.menu-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.menu-item .menu-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
/* .menu-item:hover .menu-overlay {
	opacity: 1;
} */
.menu-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 80%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.menu-details img {
    width: min(90px, 45%);
}
.show .menu-details {
    top: 67%;
    left: 50%;
    opacity: 1;
}
.show .menu-overlay {
    opacity: 1;
}
.menu-item img.menu-image {
    width: 100%;
    height: auto;
}
.menu-item .menu-text {
    font-family: 'Lora', serif;
    color: #fff;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}
/********* testimonials ****************/
.testimonials {
    background: url('../_img/bg_beige_cloth.webp') repeat;
    position: relative;
    top: -1px;
}
.testimonials .flex {
    flex-wrap: wrap;
    justify-content: flex-start;
}
.card {
    padding-top: 50px;
    background: url('../_img/quote_decor.webp') top center no-repeat;
}
.card p {
    margin-bottom: 0.8rem;
}
.card p.name {
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 20px;
}
.testimonial-pic {
    border-radius: 50%;
    box-shadow: 4px 4px 10px #999;
}
/************** footer ***************/
footer {
    padding: 60px 3%;
    background-color: #1e2832;
}
footer img {
    margin-bottom: 30px;
}
footer a {
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 0;
}
.social {
    margin-top:30px;
}
.social a {
    display: inline;
    margin:15px;
}
.credits {
    padding: 60px 0 30px 0;
    color: #fff;
    font-size: 1.2rem;
}

/**************** banner de CALL US ***************/
.call-us {
	padding: 45px 0 45px 0;
	text-align: center;
	background-color: #888;
}
.call-us p {
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 1rem;
	color: #fff;
}
.call-us a {
	color: #f3c24d;
}

/******************* banner de MENULIST *************/
.menulist {
	padding: 50px 0;
    text-align: center;
	background: #CAC2BB;
}
.menulist p {
    font-size: 2.4rem;
	font-weight: bold;
	color: #1e2832;
	margin-bottom: 30px;
}

/************************ ABOUT US PAGE ******************/
.banner img {
    width:100%;
    position:relative;
    bottom:-25px;
}
.about-us {
    background: url('../_img/bg_beige_cloth.webp') repeat;
    padding: 0;
    padding-bottom: 60px;
}
.about-us .main-img {
    width:100%;
    overflow: hidden;
}

/*************** PAGINILE DE MENIURI **************/
/* meniurile de deasupra */
.menu-categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:5px;
    background-color: #1e2832;
    position:fixed;
    top:120px;
    z-index:4;
    width:100%;
    padding-top: 10px;
}
.menu-category {
	display: flex;
	justify-content: center;
	align-items: center;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
}
.menu-category.current {
	color: #fff;
}
.menu-category img {
	width:67%;
	filter: brightness(0.5);
}
.menu-category.current img {
	filter: brightness(1);
}
.menu-category .triangle-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #E5E0DB; 
    position: absolute;
    bottom: -1px; /* Adjust as needed to control triangle position */
    left: 50%;
    transform: translateX(-50%);
    opacity:0;
    z-index:1;
}
.menu-category.current .triangle-down {
    opacity:1;
}

/* meniul propriuzis */
.menu-canvas {
	background: url('../_img/bg_menu_canvas_top.webp') top center no-repeat,
		url('../_img/bg_menu_canvas_bottom.webp') bottom center no-repeat,
		url('../_img/bg_menu_canvas_middle.webp') top center repeat-y;
    background-size: contain;
    position: relative;
    overflow-x:hidden;
    top:-1px;
}
.menu-canvas p {
    margin: 0 1rem 0 1rem;
    font-size:1.8rem;
    text-align: left;
}
.menu-canvas span.description {
    display: block;
    margin:0 1rem 1rem 2.5rem;
    font-size:1.1rem;
    text-align: left;

}
.menu-canvas img {
    width:60%;
}
.ribbon {
    margin-bottom: 1rem ;
    text-align: left;
    width:100%;
}
.ribbon span {
    display:inline-block;
    width:100%;
    font-size:1.6rem;
    font-weight: bold;
    font-family: "Lora", serif;
    line-height:50px;
    padding:5px 15px;
    color:#ddd5cc;
    background-color: #1e2832;
    border-top:2px dashed #ddd5cc;
    border-bottom:2px dashed #ddd5cc;
}

/* *************************PHOTOS ***********/
.photos-container {
    padding: 15px 3%;
    background-color: #ddd5cc;
    overflow-x: hidden;
}
.photo {
    width: 100%;
    margin-bottom: 10px;
}


/************ CONTACT PAGE **************/
.kontakt {
    color:#ddd5cc;
    padding-bottom: 50px;
}
.kontakt a, .address a {
    text-align: left;
    width: 70%;
    margin:0 3% 20px 10%;
}
.kontakt p {
    margin-bottom: 10px;
}
.contact-link {
	display: block;
	padding-left: 40px;
	margin-bottom: 0.6rem;
	line-height: 30px;
	font-size: 1.3rem;
	color: #fff;
}
.phone {
	background: url('../_img/icon_phone.webp') left center no-repeat;
}
.email {
	background: url('../_img/icon_email.webp') left center no-repeat;
}
.web {
	background: url('../_img/icon_web.webp') left center no-repeat;
}
.address-link {
	background: url('../_img/icon_address_red.webp') left top no-repeat;
}
.address {
    padding-top: 30px;
    background-color: #ddd5cc;
    color:#1e2832;
}
.address a {
    color:#1e2832;
}