/* imported fonts */
@font-face {
	font-family: 'Granny';
	src: url('../_fonts/granny_regular.ttf') format('truetype');
}
:root {
	/* smooth animation to anchor links */
	scroll-behavior: smooth;
}

/*******************************  DEFAULTS, RESET ***************************/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
}

/****************TYPOGRAPHY ******************/
h1,
h2,
h3,
h4 {
	font-family: 'Lora', serif;
    width:94%;
    margin:0 auto;
}
h2 {
	font-size: 3rem;
    margin-bottom:35px;
}

h2.underline {
	padding-bottom: 50px;
	background: url('../_img/line_decor_gray.png') no-repeat bottom center;
}
h2.underline.light {
	background: url('../_img/line_decor_light.png') no-repeat bottom center;
}
p {
	font-size: 1.4rem;
    width:94%;
    margin: 0 auto;
	margin-bottom: 60px;
}
p.light {
	color: #ddd5cc;
}
a {
    text-decoration: none;
}
/*********************** GENERALE **************************/
html {
	background-color: #1e2832;
}
body {
	font-family: 'Raleway', sans-serif;
	line-height: 1.4;
    min-height:2000px;
    text-align: center;
    position: relative;
}
section {
	padding-top: 30px;
    width:100%;
}
/* prima sectiune face loc la meniu */
section:nth-of-type(1) {
    margin-top:120px;
    padding-top:15px;
}
/*************** UTILITIES *************/
.flex {
    display:flex;
    gap:25px;
    justify-content: space-around;
    align-items: center;
}
/******* polaroid photos **********/
.polaroid-container {
    width:92%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.scotch {
	position: relative;
	bottom: -15px;
	width: 170px;
}
.polaroid {
    width: 100%;
	padding: 20px 20px 40px 20px;
	background-color: #fff;
	box-shadow: 5px 5px 10px #666;
    margin-bottom: 60px;;
}

.cta-button {
	background-color: #f3c24d;
	color: #fff;
	font-size: 1.7rem;
	font-weight: bold;
	padding: 1rem 4rem;
	border-radius: 20px;
}

/***************** menu nav ******************/
nav {
    width:100%;
    text-align: right;
    padding:20px 5%;
    height:120px;
    overflow: hidden;
	background-color: #1e2832;
    position:fixed;
    z-index:5;
    top:0;
}
nav.open {
    background-color: #ddd5cc;
    height:auto;
}
nav .icons {
    width:62%;
    float:left;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
nav a.nav-item {
    display:block;
    text-align: left;
    color:#1e2832;
    padding:5px 0 5px 35px;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    font-size: 22px;
}
#logo {
    width: 100px;
}
#menu-icon {
    text-align: right;
    width:50px;
    margin-bottom:40px;
}

/*********** BANNER *************/
.banner {
    position: relative;
    bottom:-7px;
}
.banner img {
    width:100%;
}
/************** ABOUT US *************/
.aboutus {
	background: url('../_img/bg_tile_grey.png') bottom left repeat-x,
		url('../_img/bg_beige_cloth.jpg') repeat;
    padding-bottom:120px;
}
.aboutus p:nth-of-type(1) {
    background:url('../_img/bg_tomatos.png') bottom right no-repeat;
    padding-bottom:80px;
}
.aboutus p:nth-of-type(2) {
    background:url('../_img/line_decor_gray.png') bottom center no-repeat;
    padding-bottom:50px;
}
